body {
    padding: 5rem;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1614670453169-89b992542686?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    font-family: sans-serif;
    background-position: center;
}

.card {
    width: 20rem;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.card-title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.card p {
    margin-bottom: 1.5rem;
}

a {
    background-color: #6363db;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}